<!-- Contact section-->
<section class="bg-light py-5">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
          <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
        </svg>
      </div>
      <h2 class="fw-bolder">Register</h2>
      <p class="lead mb-0">Create user profile</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" (ngSubmit)="onSubmit()" [formGroup]="registerForm" data-sb-form-api-token="API_TOKEN">
          <!-- First Name input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="first-name"
                   name="firstName"
                   formControlName="firstName"
                   type="text"
                   placeholder="Enter your name..."
                   required
                   data-sb-validations="required"/>
            <label for="first-name">First name</label>
            <span *ngIf="registerForm.get('firstName')?.touched">
            <div *ngIf="registerForm.get('firstName')?.errors?.['required']"
                 style="color: #de2d2d">First name is required.</div>

            </span>
          </div>
          <!--Last Name input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="last-name"
                   name="lastName"
                   formControlName="lastName"
                   type="text"
                   placeholder="Enter your name..."
                   required
                   data-sb-validations="required"/>
            <label for="last-name">Last name</label>
            <span *ngIf="registerForm.get('lastName')?.touched">
            <div *ngIf="registerForm.get('lastName')?.errors?.['required']"
                 style="color: #de2d2d">Last name is required.</div>

            </span>
          </div>
          <!--City input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="city"
                   name="city"
                   formControlName="city"
                   type="text"
                   placeholder="Enter your city..."
                   required
                   data-sb-validations="required"/>
            <label for="city">City</label>
            <span *ngIf="registerForm.get('city')?.touched">
            <div *ngIf="registerForm.get('city')?.errors?.['required']"
                 style="color: #de2d2d">City is required.</div>
            </span>
          </div>
          <!--Years input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="years"
                   name="years"
                   formControlName="years"
                   type="number"
                   placeholder="Enter your years..."
                   required
                   data-sb-validations="required"/>
            <label for="years">Years</label>
            <span *ngIf="registerForm.get('years')?.touched">
            <div *ngIf="registerForm.get('years')?.errors?.['required']"
                 style="color: #de2d2d">Years is required.</div>
              <div *ngIf="registerForm.get('years')?.errors?.['minimumAge']"
                   style="color: #de2d2d">Years must be more or equal to 18.</div>
            </span>
          </div>
          <!-- Email address input-->
          <!--          <div class="form-floating mb-3">-->
          <!--            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />-->
          <!--            <label for="email">Email address</label>-->
          <!--            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>-->
          <!--            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>-->
          <!--          </div>-->
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="phone"
                   name="phone"
                   formControlName="phone"
                   type="tel"
                   placeholder="(123) 456-7890"
                   data-sb-validations="required"/>
            <label for="phone">Phone number</label>
            <span *ngIf="registerForm.get('phone')?.touched">
            <div *ngIf="registerForm.get('phone')?.errors?.['required']"
                 class="is-invalid"
                 style="color: #de2d2d"
            >A phone number is required.</div>
            </span>
          </div>
          <!-- Previous Accidents dropdown -->
          <div class="mb-3">
            <label class="form-label d-block" for="previous-accidents">Previous Accidents</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="previousAccidents"
                id="previousAccidentsYes"
                [value]="true"
                formControlName="previousAccidents"
              />
              <label class="form-check-label" for="previousAccidentsYes">Yes</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="previousAccidents"
                id="previousAccidentsNo"
                [value]="false"
                formControlName="previousAccidents"
              />
              <label class="form-check-label" for="previousAccidentsNo">No</label>
            </div>
            <span *ngIf="registerForm.get('previousAccidents')?.touched">
    <div *ngIf="registerForm.get('previousAccidents')?.errors?.['required']" style="color: #de2d2d">
      Please select an option.
    </div>
  </span>
          </div>

          <!-- Message input-->
          <!--          <div class="form-floating mb-3">-->
          <!--            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>-->
          <!--            <label for="message">Message</label>-->
          <!--            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>-->
          <!--          </div>-->

          <!-- Submit Button-->
          <div class="d-grid">
            <button class="btn btn-primary btn-lg"
                    id="registerButton"
                    [style]="{ backgroundColor: registerForm.invalid ? 'grey' : '' }"
                    [disabled]="registerForm.invalid"
                    type="submit">Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
