<div class="container my-5">
  <h2 class="text-center mb-4">Car Dashboard</h2>

  <!-- Cards Row for displaying cars -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Iterate over cars and display each car as a card -->
    <div class="col" *ngFor="let car of cars">
      <div class="card h-100">
        <img src="https://www.auto-data.net/img/logos2/{{car.brand}}.png"
             class="card-img-top"
             alt="Car Image">
        <div class="card-body">
          <h5 class="card-title">{{ car.brand }}</h5>
          <p class="card-text">Model: {{ car.model }}</p>
          <p class="card-text">Year: {{ car.year }}</p>
          <p class="card-text">City: {{ car.city }}</p>
          <p class="card-text">Price per day: ${{ car.pricePerDay }}</p>
        </div>
        <div class="card-footer text-muted bg-success">
          <button class="btn btn-warning" (click)="goToOfferForm(car)" style="color: black; border: none; background: none;">
            Make me an offer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
