<app-header/>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
        <h2 class="h4 fw-bolder">Wide Vehicle Selection</h2>
        <p>Choose from sedans, SUVs, luxury cars, or economy options to suit every journey. Whether for business or leisure, we've got the perfect car for you.</p>
        <a class="text-decoration-none" routerLink="/dashboard">
          Explore Our Fleet
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <!-- Our Team Section -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building">

        </i></div>
        <h3 class="h4 fw-bolder">Meet Our Team</h3>
        <p>Our team is made up of passionate professionals who go above and beyond to ensure that your experience is a memorable one. From our customer support to our fleet management.</p>
        <a class="text-decoration-none" routerLink="/about">
          Check About us
          <i class="bi bi-arrow-right"></i>
        </a></div>

      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
        <h2 class="h4 fw-bolder">Easy Booking Process</h2>
        <p>Book in just a few clicks! Our user-friendly platform lets you reserve your vehicle in minutes. Create an account now!</p>
        <a class="text-decoration-none" routerLink="/register">
          Register
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
