<app-header/>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
        <h2 class="h4 fw-bolder">Wide Vehicle Selection</h2>
        <p>Choose from sedans, SUVs, luxury cars, or economy options to suit every journey. Whether for business or leisure, we've got the perfect car for you.</p>
        <a class="text-decoration-none" href="#!">
          Explore Our Fleet
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
        <h2 class="h4 fw-bolder">Affordable Pricing</h2>
        <p>Enjoy transparent pricing with no hidden fees. Our competitive rates ensure value for every mile you drive.</p>
        <a class="text-decoration-none" href="#!">
          Check Rates
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
      <div class="col-lg-4">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
        <h2 class="h4 fw-bolder">Easy Booking Process</h2>
        <p>Book in just a few clicks! Our user-friendly platform lets you reserve your vehicle in minutes. Create an account now!</p>
        <a class="text-decoration-none" href="#!">
          Register
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
